.params {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 !important;
}

.params-item {
    padding: 8px;
    margin: 8px;
    border-bottom: 1px solid;
    color: #17a2b8;
}

.disks {
    border-left: 1px solid;
}

.disks ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.disks-item{
   list-style-type: none;
   padding: 8px;
   margin: 8px;;
}

.disks-item input {
    min-width: 350px;
    padding: 0;
    margin: 0;
}

.disks-item-footer {
    font-size: 12px;
}


@media (max-width: 768px) {
    .header-servers-details{
            grid-template-areas:
            'header-h'
            'header-btn'
            'header-input' !important;
            padding: 0 8px 0 8px !important;
    }

    .header-h {
        margin-bottom: 16px;
        margin-top: 8px;
    }

    .header-btn{
        margin-bottom: 8px;
    }

    .header-input {
        margin-bottom: 8px;
    }

    .params{
        grid-template-columns: auto !important;
        overflow-x: hidden;
    }

    .disks ul {
        display: block;
    }
}