.header-details {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-areas: "back search server links";
    gap: 8px;
    border-bottom: 1px solid #6c757d;
    padding: 0 24px;
}

.btn-back {
    grid-area: back;
}

.header-details__h{
    grid-area: server;
}

.header-details__links {
    display: flex;
    gap: 16px;
    grid-area: links;
}

.header-details__links .btn {
    width: 100px;
    text-align: center;
}

.header-details__search {
    grid-area: search;
}

.header-details__search  input{
    max-width: 400px;
}
.params {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* padding: 0 !important; */
}
.content.params {
    padding-top: 8px;
}

.params-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8px;
    margin: 8px;
    border-bottom: 1px solid;
    color: #17a2b8;
}

.params-item span {
    color: rgb(250, 243, 243);
}

.disks {
    border-left: 1px solid;
    padding-left: 8px;
}

.disks ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.disks-item{
   list-style-type: none;
   padding: 8px;
   margin: 8px;
}

.disks-item input {
    min-width: 350px;
    padding: 0;
    margin: 0;
}

.disks-item-footer {
    font-size: 12px;
}

.btn-back {
    display: inline-block;
    text-align: center;
    width: min-content;
}

@media (max-width: 768px) {
    .header-details {
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "back server"
                            "links links";
        padding: 8px 12px;
    }

    .disks-item input {
        min-width: auto;
        width: 100%;
    }
    
    .params{
        grid-template-columns: 1fr;
        align-content: flex-start;
    }


    .disks {
        border: none;
        padding: 0;
    }

    .disks ul {
        display: block;
    }
    
}