.prc-usr {
    grid-area: prc-usr;
}
.prc-usr div {
    display: flex;
    margin-right: 4px;
    cursor: pointer;
    transition: 0.1s;
}
.prc-usr div div {
    color: var(--bg-gold);
}
.prc-state {
    grid-area: prc-state;
}
.prc-cpu {
    grid-area: prc-cpu;
}
.prc-ram {
    grid-area: prc-ram;
}

.prc-actions {
    grid-area: prc-actions;
}

.user-processes{
    grid-area: prc-pl;
    margin-top: 8px;
}

.processes-header{
    display: grid;
    grid-template-columns: 4fr 4fr 2fr 2fr 1fr;
    border-radius: 5px;
    padding: 16px;
    color:  #6c757d;
}
.processes-header div {
    min-width: 20%;
    width: 20%;
}
.processes-list{
    display: grid;
    grid-template-columns: 4fr 4fr 2fr 2fr 1fr;
    grid-template-areas:
    'prc-usr prc-state prc-cpu prc-ram prc-actions'
    'prc-pl prc-pl prc-pl prc-pl prc-pl';

    align-items: center;
    border-radius: 5px;
    background-color: #6c757d;
    margin-bottom: 8px;
    padding: 8px 16px;
}

.process-item{
    display: grid;
    grid-template-columns: 4fr 4fr 2fr 2fr 1fr;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.process-item:hover {
    background-color: #8f9ba7;
    border-radius: 5px;
}


@media (max-width: 768px) {
    .processes-header{
        grid-template-columns: 4fr 2fr 2fr 4fr 1fr 1fr !important;
        padding: 4px 8px !important;
    
    }

    .processes-list{
        grid-template-columns: 4fr 2fr 2fr 4fr 1fr !important;
        padding: 4px 8px !important;
    }

    .prc-usr {
        color: var(--bg-gold)
    }
}
