.user-item {
    display: grid;
    grid-template-areas: "usr-name usr-login usr-role usr-created usr-actions";
    grid-template-columns: 2fr 2fr 3fr 2fr 1.2fr;
    background-color: #6c757d;
    margin-bottom: 8px;
    border-radius: 5px;
    padding: 8px 16px;
    align-items: center;
    position: relative;
    font-size: 14px;
}
.user-list-header {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 2fr 1.2fr;
    background-color: #343a40;
    padding: 16px;
    color: var(--bg-secondary);
}

.usr-name {
    grid-area: usr-name;
}
.usr-login {
    grid-area: usr-login;
}
.usr-company {
    grid-area: user-company;

}
.usr-role {
    grid-area: usr-role;

}
.usr-created {
    grid-area: usr-created;

}

.usr-actions {
    grid-area: usr-actions;
}


@media (max-width: 768px) {
    .usr-created {
        display: none;
    }

    .usr-role {
        display: none;
    }

    .user-list-header {
        display: none;
    }

    .usr-name{
        color: var(--bg-gold);
        margin-bottom: 8px;
    }
    .usr-company {
        margin-bottom: 8px;
    }

    .usr-login {
        margin-bottom: 8px;
        color: var(--bg-dark);
    }

    .user-item {
        grid-template-areas: 'usr-name usr-login'
        'user-company user-company'
        'usr-actions usr-actions';
        grid-template-columns: 1fr;
    }
  }