.user-item {
    display: grid;
    grid-template-areas: "usr-name usr-login user-company usr-role usr-created usr-actions";
    grid-template-columns: 2fr 2fr 3fr 2fr 1fr 2fr;
    background-color: #6c757d;
    margin-bottom: 8px;
    border-radius: 5px;
    padding: 8px 8px 8px 16px;

}

.user-list-header {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 2fr 1fr 2fr;
    background-color: #343a40;
    padding: 8px 8px 8px 16px;
    color: var(--bg-secondary);
}

.usr-name {
    grid-area: usr-name;
    padding: 8px 0px 0px 0px; /* vertical text align*/
}
.usr-login {
    grid-area: usr-login;
    padding: 8px 0px 0px 0px; /* vertical text align*/

}
.usr-company {
    grid-area: user-company;
    padding: 8px 0px 0px 0px; /* vertical text align*/

}
.usr-role {
    grid-area: usr-role;
    padding: 8px 0px 0px 0px; /* vertical text align*/

}
.usr-created {
    grid-area: usr-created;
    padding: 8px 0px 0px 0px; /* vertical text align*/

}

.usr-actions {
    grid-area: usr-actions;
}

