.server-item {
    display: grid;
    grid-template-areas: "srv-name srv-hv srv-state srv-status srv-network srv-cpu srv-actions";
    grid-template-columns: 3fr 2fr 2fr 3fr 2fr 1fr 3fr;
    background-color: #6c757d;
    margin-bottom: 8px;
    border-radius: 5px;
    /* padding: 8px; */
    padding: 8px 8px 8px 16px;
    position: relative;
}

.server-list-header {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 3fr 2fr 1fr 3fr;
    background-color: #343a40;
    padding: 8px 8px 8px 16px;
    color: var(--bg-secondary);
}

.srv-name {
    grid-area: srv-name;
    padding: 8px 0px 0px 0px;
}
.srv-hv {
    grid-area: srv-hv;
    padding: 8px 0px 0px 0px;

}
.srv-state {
    grid-area: srv-state;
    padding: 8px 0px 0px 0px;

}
.srv-status {
    grid-area: srv-status;
    padding: 8px 0px 0px 0px;

}
.srv-network {
    grid-area: srv-network;
    padding: 8px 0px 0px 0px;

}
.srv-cpu {
    grid-area: srv-cpu;
    padding: 8px 0px 0px 0px;

}
.srv-actions {
    grid-area: srv-actions;
}
.server-item-spineer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000094;
    border-radius: 5px;
}

.server-item-spineer .spinner {
    margin-right: 8px;
}