.server-item {
    display: grid;
    gap: 8px;
    grid-template-areas: "srv-name srv-hv srv-state srv-status srv-network srv-cpu srv-actions";
    grid-template-columns: 3fr 2fr 2fr 3fr 2fr 1fr 3fr;
    background-color: #6c757d;
    margin-bottom: 8px;
    border-radius: 5px;
    padding: 8px;
    align-items: center;
    position: relative;
}

.server-list-header {
    display: grid;
    gap: 8px;
    grid-template-columns: 3fr 2fr 2fr 3fr 2fr 1fr 3fr;
    align-items: center;

    background-color: #343a40;
    padding: 8px 8px 16px 8px;
    color: var(--bg-secondary);
}

.srv-name {
    grid-area: srv-name;
}
.srv-hv {
    grid-area: srv-hv;

}
.srv-state {
    grid-area: srv-state;

}
.srv-status {
    grid-area: srv-status;

}
.srv-network {
    grid-area: srv-network;

}
.srv-cpu {
    grid-area: srv-cpu;

}
.srv-actions {
    grid-area: srv-actions;
}
.spinner-item-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000094;
    border-radius: 5px;
}

.spinner-item-shadow .spinner {
    margin-right: 8px;
}

  @media (max-width: 768px) {
    .server-list-header {
        display: none;
      }

      .srv-hv {
        display: none;
    }
    .srv-status {
        display: none;
    }
    .srv-network {
        display: none;   
    }
    .srv-cpu {
        display: none; 
    }

    .srv-actions {
        margin-top: 8px;
    }
      .server-item{
        grid-template-areas: 'srv-name srv-state'
        'srv-actions srv-actions';
        grid-template-columns: 1fr;
      }
  }