.header-btn a {
    margin-right: 8px;
}

.sc-items-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    border-radius: 5px;
    padding: 8px 16px 16px 16px;
    color:  #6c757d;
}
.sc-i {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    align-items: center;
    border-radius: 5px;
    background-color: #6c757d;
    margin-bottom: 8px;
    padding: 8px 16px;
}


@media (max-width:768px) {
    .sc-i-display-name {
        display: none;
    }
    .sc-items-header{
        display: none;
    }
    
    .sc-i-name {
        margin-bottom: 8px;
        color: var(--bg-gold)
    }

    .sc-i-state {
        margin-bottom: 8px;
    }
    .sc-i {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 5fr 3fr;
    }
}