.menu {
    display: grid;
    gap: 16px;
    grid-template-rows: 80px 1fr;
}

.user-info {
    display: grid;
    border-bottom: 1px solid #6c757d;
}
nav ul li {
    list-style-type: none;
    margin-bottom: 16px;
    font-size: 16px;
}
nav ul {
    padding: 16px;
}

nav {
    background-color: var(--bg-dark);
    border-right: 1px solid #6c757d;
}

a {
    color: rgba(255, 166, 0, 0.467);
    text-decoration: none;
}
a:hover {
    color: var(--bg-gold);
}

.active {
    color: rgb(255, 204, 0);
    text-decoration: underline;
}

.menu_email {
    align-self: center;
    padding: 0 16px;
    color: var(--bg-secondary-light);
}

@media (max-width: 768px) {
    .menu {
        grid-template-rows: auto;
        grid-template-rows: auto 1fr;
        align-items: center;
    }
    .menu ul {
        margin: 0;
        border-bottom: 1px solid var(--bg-secondary);
        text-align: center;
        padding: 8px;
      }
      .menu ul li{
        display: inline-block;
        margin: 0 0 0 16px;
      }

      .user-info {
          display: none;
      }
}