@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --bg-secondary: #6c757d;
  --bg-dark: #343a40;
  --bg-primary: #0d6efd;
  --bg-gold: #ffcc00;
  --bg-info: #17a2b8;
}

html body {
  margin: 0;
  padding: 0;
  background-color: #6c757d;
  color: rgb(250, 243, 243);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  background: none;
}

/* Основной макет */
.grid {
  display: grid;
  grid-template-columns: 1fr 12fr;
  height: 100vh;
}

/* MAIN */
.main {
  display: grid;
  grid-template-rows: 1fr 17fr;
  background-color: var(--bg-dark);
  height: 100%;
  overflow-y: hidden;

}

/* HEADER */
.header {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  padding: 8px;
  background-color: var(--bg-dark);
  /* background-color: rgb(173, 209, 136); */
  border-bottom: 1px solid #6c757d;
}

.header-h {
  padding: 8px 0px 0px 0px; /* vertical text align*/
  text-align: center;
}

.header-btn {
  padding: 0px;
}


.header-input {
  padding: 0px;
  text-align: end;
}

/* CONTENT */
.content {
  /* background-color: rgba(186, 58, 171, 0.686); */
  background-color: var(--bg-dark);
  padding: 8px;
  overflow-y: auto;
}

/* Цвета */
.bg-secondary {
  background-color: #6c757d;
}

.bg-secondary-light {
  background-color: #8f9ba7;
}
.bg-dark {
  background-color: #343a40;
}
.bg-primary {
  background-color: #0d6efd;
}
.bg-gold {
  background-color: #ffcc00;
}

.text-gold {
  color: #ffcc00;
}
.bg-info {
  background-color: #17a2b8;
}

/* Кнопки */
.btn {
  appearance: none;
  padding: 8px 16px;
  border: 1px solid var(--bg-gold);
  border-radius: 5px;
  background: var(--bg-dark);
  color: #fff;
  font-family: inherit;
  transition: 0.3s;
}

.btn:hover {
  background: var(--bg-gold);
  color: var(--bg-dark);
  cursor: pointer;
}

.btn:active {
  outline: none;
  background: var(--bg-primary);
  border: 1px solid var(--bg-primary);
  border-radius: 5px;
  color: #fff;
  transition: 0.3s;
}

.btn[disabled] {
  color: #d2d5db;
  background: #6c7589;
  cursor: not-allowed;
}


/* Кнопки действий */
.actions-btn button{
  color: var(--bg-gold);
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 8px;
  margin-right: 8px;
  width: 32px
}

.actions-btn button:hover{
  color: var(--bg-gold);
  border: 1px solid var(--bg-gold);
  cursor: pointer;
}

.actions-btn button:active{
  border-width: 2px;
}

/* Формы */

input{
  appearance: none;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
  box-sizing: border-box;
}

select{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
  box-sizing: border-box;
}

input:focus{
  outline:none;
  border-color: rgb(54, 120, 220);
}

/* Высота Ширина */
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

/* Спиннер */
.spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

/* Модальное окно */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(51, 51, 51, 0.7);
}

.modal-content {
  max-width: 600px;
  width: 85%;

  display: flex;
  flex-direction: column;
  background-color: var(--bg-dark);
  border: 1px solid var(--bg-secondary);
  border-radius: 5px;
  padding:8px;
}

.modal-header {
  width: 100%;
  display: flex;
  justify-content: center;
/* font-size: inherit; */
}

.modal-body {
  width: 100%;
  margin-bottom: 8px;
}


.modal-body select, .modal-body input {
  width: 100%;
  margin-bottom: 8px;
}

.modal-body label {
  display: block;
  width: 100%;
  padding: 8px;
}

.modal-footer {
  width: 100%;
  margin-bottom: 8px;
}

.modal-footer button {
  margin-right: 8px;
}

.err {
  padding: 8px;
  margin: 8px;
}