/* this is needed to make the content scrollable on larger screens */
@media (min-width: 576px) {
  .h-sm-100 {
      height: 100%;
  }
}


.main-rows {
  margin: 12px;
  padding: 12px;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
.my-font-arial{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.my-p-16 {
  padding: 8px 16px;
}

.my-bg-secondary {
  background-color: rgb(11, 141, 141);
}

.my-fixed-error {
  max-width: 25vw;

  position: fixed;
  right: 0%;
  top: 10%;
}