.auth{
  background: rgb(53, 59, 65, 1) !important;
}
.err {
    display: inline-block;
}

@media (max-width: 576px) {
    .auth button {
        width: 100%;
        text-align: center;
        justify-content: center;
        margin-top: 2px;
        margin-right: 0 !important;
    }
}